* {margin: 0; padding: 0; font-family: sans-serif;}

#mainContainer {
    width: 823px;
    height: 4100px;
    margin: 0 auto;
}
#content-background {
    width: 823px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(day4_challenge/landing2/images/hero-1-bg-shape-cover.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content-one {
    width: 823px;
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav {
    width: 595px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: small;
    
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: bold;
}
nav ul li {
    margin: 5px;
}
nav#loginButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#loginBox {
    width: 173px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}
#loginButton {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #97bb7d;
}
#loginJoin {
    width: 80px;
    height: 30px;
    background-color: #97bb7d;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    padding: 8px 0;
    box-sizing: border-box;
    color: white;
}

#highqualitycourses {
    width: 421px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 15px;
}
#highqualitycourses h5   {
    color: #97bb7d;
}
#buttonBox {
    width: 220px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#getQuote {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 8px 0;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: #97bb7d;
    text-align: center;
    color: white;
    font-size: 12px;
}
#learnMore {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 6px 0;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #97bb7d;
    text-align: center;
    color: #97bb7d;
    font-size: 12px;
}
#socialLogos {
    width: 622px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.socialMedia {
    width: 92px;
    height: 80px;
    text-align: center;
    color: #737373;
}
#content-two {
    width: 823px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contentHeader {
    width: 622px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
}
.contentHeader h5 {
    color:#97bb7d ;
}
.contentHeader p {
    font-size: 10px;
    color: gray;
}
#trainingContent {
    width: 622px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.trainingCourses {
    width: 135px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 15px;
    box-sizing: border-box;
    font-size: 8px;
    box-shadow: 0 0 3px black;
}
.green {
    background-color: #97bb7d;

}
.trainingLogo {
    width: 42px;
    height: 42px;
    overflow: hidden;
}
.trainingLogo img {
    width: 100%;
    height: 100%;
}
.trainingHeader {
    width: 84px;
    height: 15px;
    text-align: left;
}
.miniLine {
    width: 29px;
    height: 2px;
    background-color: #e64040;
    text-align: left;
}
.trainingText {
    width: 80px;
    height: 35px;
    text-align: left;
}
#content-three {
    width: 823px;
    height: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#girlPic {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
#girlPic img {
    width: 100%;
    height: 100%;
}
#mostPopular {
    width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
}
#mediumLine {
    width: 52px;
    height: 5px;
    background-color: #e64040;
}
#popularHeader {
    width: 157px;
    height: 58px;
    font-size: 10px;
}
#popularContent {
    width: 200px;
    height: 46px;
    font-size: 10px;
}
#popularButton {
    width: 64px;
    height: 15px;
    color: #97bb7d;
    font-weight: bold;
    font-size: 10px;
}
#content-four {
    width: 823px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eef8ed;
}
#packageContainer {
    width: 622px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.packageContent {
    width: 138px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.packageImg {
    width: 138px;
    height: 174px;
    overflow: hidden;
}
.packageImg img {
    width: 100%;
    height: 100%;
}
.packagetextContent {
    width: 138px;
    height: 204px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
    box-sizing: border-box;   
    justify-content: space-between;
}
.packageText {
    width: 117px;
    height: 95px;
    font-size: 10px;
    /* padding: 5px;
    box-sizing: border-box; */
    line-height: 1.5;
}
.green1 {
    color: #97bb7d;
    font-weight: bold;
}
.priceTag {
    width: 63px;
    height: 13px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.orange {
    color: #ffbc8e;
}
.packageLogo {
    width:123px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.packageLearn {
    width: 85px;
    height: 30px;
    border-radius: 30px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    color: #97bb7d;
    border: 1px solid #97bb7d;
}
#content-five {
    width: 823px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#productContainer {
    width: 605px;
    height: 525px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.productContent {
    width: 187px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    box-shadow: 0 0 3px black;
}
.productImg {
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.freeText {
    width: 44px;
    height: 13px;
    font-size: 12px;
    font-weight: bold;
}
.productText1 {
    width: 150px;
    height: 28px;
    font-weight: bold;
    color: gray;
}
.productPrice {
    width: 55px;
    height: 42px;
   font-size: 15px;
}
.productPrice h3 {
    color: #97bb7d;
}
.productPrice h6 {
    color: #8ec2f2;
}
.productText2 {
    width: 150px;
    height: 28px;
    font-size: 10px;
    color: gray;
}
.productTrial {
    width: 142px;
    height: 35px;
    color: white;
    background-color: #97bb7d;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: bold;
}
.productDesc {
    width: 142px;
    height: 146px;
}
.productDesc ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fa-gratipay {
    color:#97bb7d ;
}
#content-six {
    width: 823px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#testimonyContainer {
    width: 622px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.testimonyContent {
    width: 232px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.testimonyImg {
    width:78px;
    height: 78px;
    overflow: hidden;
    background-color: gray;
    border-radius: 50%;
}
.testimonyImg img {
    width: 100%;
    height: 100%;
}
.testimonyText {
    width: 187px;
    height: 35px;
    color: gray;
    font-size: 10px;
}
.testimonyStars {
    width: 78px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fa-star {
    color: yellow;
}
.testimonyName {
    width: 78px;
    height: 30px;
}
#content-seven {
    width: 823px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#newsletterHead {
    width: 293px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 10px 10px;
    box-sizing: border-box;
}
#news {
    color: #97bb7d;
}
#problem {
    color: gray;
    font-size: smaller;
}
#emailBox {
    width: 411px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
#emailType {
    width: 327px;
    height: 34px;
    text-align: left;
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 1px black;
}
#subscribe {
    width: 66px;
    height: 34px;
    text-align: center;
    background-color: #97bb7d;
    border-radius: 1px;
    padding: 8px 5px;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
}
#content-eight {
    width: 823px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#footerWrapper {
    width: 605px;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer {
    width: 95px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 10px;
}
.footer h4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer ul li {
    list-style-type: none;
    padding: 5px 0;
    box-sizing: border-box;
}
.two {
    width: 177px;
    height: 105px;
}
#content-nine {
    width: 823px;
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fafafa;
}
#finalContainer {
    width: 604px;
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}
#allRights {
    width: 230px;
    height: 18px;
    justify-content: flex-start;
    color: gray;
    font-size: 10px;
}
#socialmediaLogos {
    width: 81px;
    height: 18px;
    justify-content: flex-end;
    padding-right: 15px;
    box-sizing: border-box;
}
.fa-phone {
    color: #97bb7d ;
}
.fa-location {
    color:#97bb7d ;
}
.fa-envelope {
    color:#97bb7d ;
}
.fa-facebook {
    color: #97bb7d ;
    margin-right: 5px;
}
.fa-instagram {
    color: #97bb7d ;
}
.fa-twitter {
    color: #97bb7d ;
    margin-right: 5px;
}